

.element {

  width:80%;
  margin: 1rem auto;
}

.container {
  position: relative;
  height:85vh;
  width:50vw;
  background-color: white;
  border-radius: 12px;
  overflow-y: scroll;
}

.content {
  padding-bottom: 100px;
}

.fixed-bottom {
  border-top:2px solid rgba(128, 128, 128, 0.671);
  position: fixed;
  bottom: 0;
  height: 100px; 
  background-color: white;
  border-radius: 12px;
  width:50vw;
}
.outer{
  display:flex;
  justify-content:center ;
  background-color: rgba(255, 192, 203, 0.459);
  height:100vh;
}


